<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta charset="UTF-8">
    <title>亿维时代科技</title>
    <meta name="Keywords" content="亿维时代"/>
    <meta name="Description" content="亿维时代科技公司"/>
    <meta name="theme-color" content="#EE503F">
</head>
<body style="height: 100%; overflow: hidden;">
	<div id="app"></div>
</body>
</html>
